# ==== BACKEND VARIABLES ====
PORT=5000
NODE_ENV=development

# Database Config (Supabase)
DB_HOST=aws-0-eu-central-1.pooler.supabase.com
DB_PORT=6543
DB_USER=postgres.xxxxxxxxxx
DB_PASSWORD=your-secure-password
DB_NAME=postgres
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

# JWT Secrets
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d


# File Upload / Multer
MAX_FILE_SIZE=5242880

# ==== FRONTEND VARIABLES ====
VITE_API_URL=http://localhost:5000/api/v1
VITE_SUPABASE_URL=https://giqmxjltuqthsmudnujj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdpcW14amx0dXF0aHNtdWRudWpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMTAxNTYsImV4cCI6MjA5Mzg4NjE1Nn0.HL05iE1oIHiMlYxop72berifslfVvMg1ose4ttVN87Y
